/* body{
background-color: rgb(4, 4, 53);
color: white;
} */
.summary{
   padding: 5px;
}
.para{
    width: 100vw;
    height: 100vh;
    padding: 40px;
}

.mycontainer{
    padding: 30px;
}

#navbarSupportedContent{
    padding-inline: 20px;
   color: rgb(4, 2, 47);
}